	<% @page_title = "Edit Page" %>
	<br>
	<div class="links btn-group">
		<%= link_to("<< Back to Pages List", {:action => 'index', :section_id => @section.id}, :class => 'btn btn-custom') %>
	</div>

	  <h2>Update Page</h2>

	  <%= form_for(:page, :url => {:action => 'update', :id => @page.id, :section_id => @section.id}) do |f| %>

	    <%= render(:partial => "form", :locals => {:f => f}) %>
		<br>
		<div class="links btn-group">
		    <%= submit_tag("Update Page", :class => 'btn btn-custom') %>
		</div>

	  <% end %>
