<!DOCTYPE html>
<html>
  <head>
    <title>RACR</title>
    <%= javascript_include_tag('public') %>
  </head>
  <body>

    <!-- before yield -->
    <%= yield %>
    <!-- after yield -->

  </body>
</html>
